nav {
  display: flex;
  justify-content: space-between;
  height: 100px;
}
span {
  color: #94a0aa;
  padding-left: 10px;
}
a img {
  width: 100%;
  max-width: 100px;
}
a, ul li {
  display: flex;
  align-items: center;
}
ul li {
  background-color: #94a0aa;
  padding: 5px 5px;
  border-radius: 5px;
  margin-right: 15px;
  box-shadow: 4px 4px 4px 1px rgba(0,0,0,0.3)
}
article {
  display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1.5rem;
    margin-right: 10px;

}